.story_container {
  background-color: var(--back);

  padding: 100px 50px;
  text-align: center;
  border-bottom: 1px solid #e1dede;
}

.story_title {
  font-family: "lily";
  font-weight: 300;
  color: var(--lilac);
  font-size: 40px;
  width: 60%;
  line-height: 150%;
  margin: 10px auto;
}

.story_para {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-family: "prgati";
  font-size: 24px;
  color: #333;
  line-height: 150%;
  width: 70%;
  margin-bottom: 30px;
}
@media screen and (max-width: 797px) {
  .story_title {
    font-size: 30px;

    width: 90%;
  }

  .story_container {
    padding: 50px 30px;
  }

  .story_para{
    width: 90%;
    font-size: 22px;
  }
}
