.nav_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #e1dede;
  padding: 0px 50px;
  align-items: center;
  /* position: absolute; */
  top: 0;
  position: sticky;
  background-color: var(--back);

  z-index: 200;
  width: 100%;
  height: 100px;
  background-color: var(--back);
  /* place-items: center; */
}

.nav_logo {
}

.nav_logo_img {
  object-fit: contain;
  width: 90px;
  height: 90px;
}

.nav_ul {
  display: flex;
  gap: 16px;
}

.nav_li {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "prgati";
}

.nav_middle {
  display: flex;
  justify-content: center;
}

.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rsvp_btn {
  font-family: "made";
  padding: 7px 30px;
  border-radius: 0px;
  font-size: 20px;
  text-transform: uppercase;
  transition: 1s all ease-in-out;
  background-color: transparent;
  position: relative;
  z-index: 10;
  border: 1px solid #333;
}

.rsvp_btn::after {
  position: absolute;
  top: -5px;
  bottom: 0px;
  z-index: -10;
  content: "";
  width: 100%;
  height: 100%;
  left: 5px;
  border: 1px solid #333;
}

.rsvp_btn:hover {
  /* z-index: -10; */

  color: #fff;
  background-color: var(--lilac);
  transition: 1s all ease-in-out;
  cursor: pointer;
}

.menu {
  color: #333;
  font-size: 30px;
  display: none;
}

.masa,
.mobile_menu,
.nalas {
  display: none;
}

@media screen and (max-width: 626px) {
  .nav_container {
    height: 90px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .nav_ul,
  .mm {
    display: none;
  }

  .masa,
  .menu,
  .closer,
  .nalas {
    display: flex;
  }

  .jg {
    width: 70px;
  }

  .nav_middle {
    display: none;
  }

  .mobile_menu {
    display: flex;
    position: fixed;
    background-color: var(--back);
    height: 100vh;
    width: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  .closer {
    position: absolute;

    top: 20px;
    z-index: 100;
    right: 20px;
  }

  .close_ico {
position: relative;
    font-size: 30px;
  }
  .mobile_li {
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
    font-family: "made";
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
  }
}
